{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {ex1_relup, "0.4.0"},
         [ex1_relup,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{plugins, [rebar3_appup_plugin]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
